<%- include('./fragments/header.ejs') %>

<main>
    <h2>Strona główna</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales ut diam ac maximus. Proin nec consectetur
        nibh, ac varius est. Nulla iaculis felis at mattis sagittis. Praesent eget nisl id libero sodales sodales. Sed
        sed commodo ligula. Vivamus venenatis risus vitae lacus scelerisque maximus. Sed eu facilisis eros. Aenean ut
        accumsan nulla, in tristique massa. Cras nec nisi mattis, semper mi sit amet, accumsan turpis. Suspendisse ut
        posuere massa, et porta diam. Integer ut dictum dui. In aliquam, magna et lobortis sagittis, erat ante ultricies
        purus, dignissim fermentum nunc libero eu sem. Cras maximus blandit tellus, ut elementum lorem malesuada sed.
        Cras sit amet turpis viverra erat placerat porta ut in est. Nullam eget mi sit amet turpis vestibulum tempus non
        eget dolor. Suspendisse dignissim bibendum purus. Suspendisse placerat nunc nec tincidunt dignissim. Aliquam eu tortor enim.
        Pellentesque euismod nibh eget leo imperdiet dignissim. Donec diam neque, fringilla eu ex ac, tincidunt euismod
        lorem. Nam rhoncus tellus vel dui scelerisque luctus. Class aptent taciti sociosqu ad litora torquent per
        conubia nostra, per inceptos himenaeos. Suspendisse ornare vitae sapien vel fermentum. Suspendisse vestibulum
        bibendum velit, vel tincidunt lorem suscipit non.
    </p>
</main>

<%- include('./fragments/footer.ejs') %>