<%- include('../../fragments/header.ejs') %>

<main>
    <h2>Szczegóły zlecenia</h2>
    <form class="formDetail">
            <label for="nrZam">Nr zamówienia:<sup>*</sup></label>
            <input type="number" name="nrZam" value="0001" id="nrZam" disabled/>


            <label for="klient">Klient:<sup>*</sup></label>
            <input type="text" name="klient" value="Jan Kowalski" id="klient" disabled/>


            <label for="serwisant">Serwisant:<sup>*</sup></label>
            <input type="text" name="serwisant" value="Adam Adamowski" id="serwisant" disabled/>


            <label for="opis">Opis:<sup>*</sup></label>
            <input type="text" name="opis" value="Telewizor stłuczony" id="opis" disabled/>


            <label for="dataZlecenia">Data zlecenia:<sup>*</sup></label>
            <input type="date" name="dataZlecenia" value="2020-08-15" id="dataZlecenia" disabled/>

            <label for="koszt">Koszt:</label>
            <input type="number" name="koszt" value="800" id="koszt" disabled/>

        <div>
            <p>
                <a href="../../orders" class="details-order-button-back">Powrót</a>
                <input type="submit" class="details-order-button-edit" value="Edytuj"/
            </p>
        </div>
    </form>
</main>

<%- include('../../fragments/footer.ejs') %>